* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --h1-font: 4rem;
    --h2-font: 2.9rem;
    --p-font: 1.1rem;
    --bg-color: #000000;
    --text-color: #ffffff;
    --main-color: #1aa090;
    --other-color: #d6d6d6;
}





/* --------------------------- */

.logo {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    display: inline-block;
      transition: transform 0.5s ease;
  }

  .logo:hover {
    animation: rotateAnimation 0.5s forwards;
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }




/* ----------------------------------- */





.logo img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    /* box-shadow: rgb(254, 254, 181) 0px 3px 29px; */
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 15%;
    transition: all .50s ease;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 10px 25px;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    transition: all .40s ease;
    /* margin-bottom: 10px; */
}

.navbar a:hover {
    color: #f3ac42;
}

.h-btn {
    display: flex;
    align-items: center;
}

.h-btn2 {
    display: inline-block;
    padding: 10px 18px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;
}

.h-btn1 {
    display: inline-block;
    padding: 10px 18px;
    background: var(--main-color);
    color: var(--other-color);
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
    transition: all .40s ease;
}

.h-btn1:hover,
.h-btn2:hover {
    background-color: #d09622;
    transform: scale(1.05);
}

#menu-icon {
    color: var(--text-color);
    font-size: 36px;
    margin-left: 5px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 80px 15% 70px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
}

.home-text h1 {
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 50px;

}

.home-text p {
    font-size: var(--p-font);
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 2.5rem;

}



.h-search form {
    position: relative;
    width: 410px;
    max-width: 100%;

}

.h-search form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 17px 130px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 70rem;
}

.h-search form input:last-child {
    position: absolute;
    display: inline-block;
    padding: 12px 30px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    border-radius: 70rem;
    box-shadow: 0px 0px 5px #121b25, 0px 0px 15px #868686;
    top: 6px;
    right: 6px;
}

.home-img {
    height: 640px;
    width: 640px;

}

/* .home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: white;
    font-size: 30px;
    font-style: italic;
    padding: 25px;
    opacity: 0; /* Initial opacity to hide the heading before animation */
    animation: fadeIn 0.8s ease-in-out forwards; /* Animation forwards to retain final state */
    box-shadow: rgb(254, 254, 181) 0px 3px 29px;
}

.home-text h1 {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #cccccc 0%,
            #f3f3f3 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 60px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

header.sticky {
    padding: 8px 15%;
    background: rgb(43, 42, 42);
    
}

.feature {
    padding: 60px 15% 50px;

}

.center-left h2 {
    font-size: var(--h2-font);
    margin-top: 5rem;
   
}
















.feature-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
}

.f-img img {
    width: 100%;
    height: auto;

}

.row img {
    height: 300px;
    width: 350px;
    margin-bottom: 20px;
}

.property-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 4.5rem;
}

.row {
    position: relative;
    cursor: pointer;
}

.row h5 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.row p {
    font-size: var(--p-font);
    color: var(--other-color);
    margin-bottom: 20px;
}

.list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.list a {
    color: var(--text-color);
    font-size: var(--p-font);
}

.Residence-list i {
    font-size: 18px;
    color: var(--main-color);
}

.center-btn {
    text-align: center;
    margin-top: 4rem;
}

.price h6{
    font-size: 20px;
    color:var(--main-color);
    font-weight: 500;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 18px 28px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: all .50s ease;

}

.btn:hover {
    background-color: #d09622;
    transform: scale(1.05);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
}

.about-img img{
    height: 400px;
    width: 400px;
}

.about-text h2{
        font-size: var(--h2-font);
        margin-bottom: 25px;
}

.about-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 50px;
}

.Subscribe-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: url(../images/property2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 6rem 2rem;
}

.Subscribe-content h2{
    font-size: var(--h2-font);
    margin-bottom: 12px;
}

.Subscribe-content p{
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 27px;
}

.contact-content img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.contact{
    display: flex;
    /* grid-template-columns: repeat(auto-fit , minmax(300px,auto)); */
    gap: 2rem;
}

.contact-content h4{
    margin-bottom: 1.4rem;
    font-size: 20px;

}

.contact-content li{
    margin-bottom: 16px;

}


.contact-content li a{
    display: block;
    color: var(--other-color);
    font-size: 15px;
    font-weight: 400;
    transition: all .45s ease;
}

.contact-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: var(--text-color);
}

.contact-content p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin: 20px 0;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: var(--other-color);
    margin-right: 17px;
    transition: all .45s ease;
}
.icons a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: var(--text-color);
}

@media (max-width: 1790px){
    header{
        padding: 18px 5%;
    }
    section{
        padding: 70px 6% 60px;
    }
    header.sticky{
        padding: 7px 6%;
    }
    .feature{
        padding: 40px 6% 30px;
    }
}

@media (max-width: 1425px){
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.6rem;
        --p-font: 1rem;
    }
    .home-img{
        width: 440px;
        height: 440px;
    }
    .home-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    header{
        padding: 15px 5%;
    }
    section{
        padding: 70px 5% 60px;
    }
    header.sticky{
        padding: 7px 5%;
    }
    .feature{
        padding: 40px 5% 30px;
        margin: 50px;
    }
}

@media (max-width: 1170px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #101821;
        padding: 20px 15px;
        gap: 0.5rem;
        text-align: left;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        font-size: 20px;
        padding: 15px;
    }
    .navbar.open{
        right: 0;
    }
    :root{
        --h1-font: 3rem;
        --h2-font: 2rem;
        --p-font: 1rem;
    }
    .home{
        grid-template-columns: 1fr;
        gap: 1rem;
        height: 120vh;

    }
    .home-text{
        order: 2;
        width: 100%;
        max-width: 900px;

    }
    .home-img{
        width: 480px;
        height: 480px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .row img{
        width: 300px;
        height: 300px;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img img{
        width: 300px;
        height: 300px;
    }
    .feature{
        padding: 40px 4% 30px;
    }
}

@media (max-width:570px){
    :root{
        --h1-font: 2.9rem;
        --h2-font: 2rem
        ---p-font: 15px
    }
    .home{
        gap: 15px;
        height: 110vh;
    }
    .home-img{
        width: 400px;
        height: 400px;
        padding-top: 10px;
    }
    .row img{
        width: 300px;
        height: 300px;
    }
    .about-img img{
        width: 300px;
        height: 300px;
      
    }
    .Subscribe-content{
        padding: 4rem 1rem;

    }
    .contact{
        width: 100%;
    }
    .feature{
        padding: 40px 3% 30px;
    }
}